:root {
  --yellow-orange: #DD8E22;
  --red: #F9673A;
  --blue: #6993F2;
  --light-accent-1: #EFE5D3;
  --light-accent-2: #E6CC9A;
  --light-accent-3: #F8BAA8;
  --light-1: #CBCBCB;
  --light-2: #B7B7B7;
  --medium-1: #8F8F8F;
  --medium-2: #6A6A6A;
  --dark-1: #4D4D4D;
  --dark-2: #2B2B2B;
  --shadow: #2b2b2b33;
  --transparent: #00000000;
}

@font-face {
  font-family: 'Glyphter';
  src: local('Glyphter'), url(../fonts/Glyphter.woff), format('woff');
}

html {
  background-color: var(--dark-2);
}

* {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
  transition-duration: 0.4s;
}

h1 {
  font-family: "Lexend", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 28pt;
  color: var(--dark-2);
}

h3 {
  font-size: 12pt;
  color: var(--dark-1);
}

p {
  font-size: 10pt;
  color: var(--medium-2);
}

.submit-button {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  background: var(--dark-2);
  color: var(--light-accent-1);
  border-radius: 18px;
  border: 2px solid var(--dark-2);
  padding: 0px 31px 0px;
  font-size: 12pt;
  cursor: pointer;
  overflow: hidden;
}

.submit-button:hover {
  background: var(--transparent);
  color: var(--dark-2)
}

.google-button {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  background: var(--blue);
  color: var(--light-accent-1);
  border-radius: 18px;
  border: 2px solid var(--blue);
  padding: 0px 31px 0px;
  font-size: 12pt;
  cursor: pointer;
  overflow: hidden;
}

.google-button:hover {
  background: var(--transparent);
  color: var(--blue);
}

.custom-icon {
  font-family: 'Glyphter';
  color: inherit;
}

.input-field {
  box-sizing: border-box;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  background: var(--transparent);
  color: var(--medium-1);
  border-radius: 20px;
  border: 2px solid var(--medium-1);
  padding: 0px 31px 0px;
  font-size: 12pt;
  overflow: hidden;
}

.hint-link {
  padding: 0px 5px 0px;
  cursor: pointer;
}

.hint-link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 380px) {
  h1 {
    font-size: 30pt;
  }

  h3 {
    font-size: 14pt;
  }

  p {
    font-size: 12pt;
  }

  .submit-button {
    height: 44px;
    border-radius: 22px;
    font-size: 14pt;
  }

  .google-button {
    height: 44px;
    border-radius: 22px;
    font-size: 14pt;
  }

  .input-field {
    height: 44px;
    border-radius: 24px;
    font-size: 14pt;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40pt;
  }

  h3 {
    font-size: 20pt;
  }

  p {
    font-size: 16pt;
  }

  .submit-button {
    height: 66px;
    border-radius: 33px;
    font-size: 16pt;
  }

  .google-button {
    height: 66px;
    border-radius: 33px;
    font-size: 16pt;
  }

  .input-field {
    height: 66px;
    border-radius: 35px;
    font-size: 16pt;
  }

  .hint {
    padding: 0px 82px 20px;
  }
}