.welcome-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--light-accent-1);
}

.welcome-wrapper .img-artwork {
  background: linear-gradient(var(--light-accent-2) 78%, var(--transparent) 78%);
  padding-right: clamp(50px, auto, 200px);
  max-height: 60%;
  object-fit: contain;
  object-position: left top;
  margin: -2px 0px 0px -2px;
}

.welcome-wrapper .copy-wrapper {
  padding: 0px 40px 0px;
}

.welcome-wrapper .submit-button {
  margin: 20px -2px 0px;
  width: 100%;
}

.welcome-wrapper .hint {
  padding: 0px 40px 40px;
}

.welcome-wrapper .hint-link {
  padding: 0px 4px 0px;
}

.welcome-wrapper .hint-link:hover {
  text-decoration: underline;
}

.welcome-wrapper .loginform-wrapper {
  display: none;
}

@media only screen and (min-width: 380px) {
  .welcome-wrapper .img-artwork {
    padding-right: 26px;
  }

  .welcome-wrapper .copy-wrapper {
    padding: 0px 50px 0px;
  }

  .welcome-wrapper .submit-button {
    margin: 28px -2px 0px;
  }

  .welcome-wrapper .hint {
    padding: 12px 50px 50px;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1000px) {
  .welcome-wrapper .img-artwork {
    padding-right: 33vw;
    max-height: 65%;
  }

  .welcome-wrapper .copy-wrapper {
    padding: 5% 82px 0px;
  }

  .welcome-wrapper .submit-button {
    margin: 28px -2px 0px;
    width: 60%
  }

  .welcome-wrapper .hint {
    padding: 0px 82px 20px;
    margin: 17px 0px auto;
  }
}

@media only screen and (min-width: 1025px) {
  .welcome-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    overflow: hidden;
  }

  .welcome-wrapper .copy-wrapper {
    padding: 0px 5% 0px;
    flex: 1;
  }
  
  .welcome-wrapper .img-artwork {
    padding: 0px 0px 7% 0px;
    height: 100%;
    max-height: 100%;
    max-width: 40%;
    background: linear-gradient(to right, var(--light-accent-2) 92%, var(--transparent) 92%);
  }

  .welcome-wrapper .submit-button {
    display: none;
  }

  .welcome-wrapper .loginform-wrapper .submit-button {
    display: flex;
  }

  .welcome-wrapper .loginform-wrapper .hint {
    display: block;
    padding: 0;
  }

  .welcome-wrapper .loginform-wrapper {
    display: block;
  }

  .welcome-wrapper .hint {
    display: none;
  }

  .welcome-wrapper .loginform-wrapper .title {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .welcome-wrapper .copy-wrapper {
    padding: 0px 15% 0px;
  }
}